* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  flex: 1 0 0;

  position: sticky;
}

main {
  flex: 8 0 0;
}

footer {
  flex: 1 0 0;
}

div {
  border: 1px solid black;
}

